<!-- Contendor principal -->
<main class="contenedor-principal">
  <!-- Contendor del encabezado -->
  <app-encabezado></app-encabezado>
  <!-- Contenedor del formulario -->
  <div class="contendor-formulario">
    <!-- Formulario Inicio de Sesión -->
    <form class="formulario-inicio-sesion">
      <div>
        <h1>Bienvenido Nuevamente</h1>
        <span>Ingresa a tu cuenta</span>
      </div>
      <!-- Contendor label e input de usuario -->
      <div class="contenedor-input">
        <!-- Label del input usuario -->
        <label for="usuario">Usuario o Número celular</label>
        <!-- Input usuario -->
        <input appInputFormCustom id="usuario" placeholder="Escribe tu usuario" />
      </div>
      <!-- Contendor label e input de contraseña -->
      <div class="contenedor-input">
        <!-- Label del input contraseña -->
        <label for="contrasena">Contraseña</label>
        <!-- Input contraseña -->
        <input appInputFormCustom id="contrasena" placeholder="Escribe tu contraseña" />
      </div>
      <!-- Contendor botones -->
      <div class="contendor-botones">
        <button appBtnprimary>Iniciar sesión</button>
        <button appBtnsecundary [colorTextButton]="colorText" (click)="goToRegister()">Registrarme</button>
      </div>
    </form>
    <span>¿Problemas para entrar? Recuperar cuenta</span>
  </div>
  <!-- Contendor del pie de página -->
  <app-pie-de-pagina></app-pie-de-pagina>
</main>
