<!-- Contendor principal -->
<main class="contenedor-principal">
  <!-- Contendor del encabezado -->
  <app-encabezado></app-encabezado>
  <!-- Contenedor del formulario -->
  <div class="contendor-formulario">
    <!-- Formulario Inicio de Sesión -->
    <form #loginForm="ngForm" (ngSubmit)="submitForm(loginForm)" class="formulario-inicio-sesion">
      <!-- Contenedor h1 y span -->
      <div>
        <!-- Titulo principal de la página -->
        <h1>Bienvenido Nuevamente</h1>
        <!-- Span -->
        <span>Ingresa a tu cuenta</span>
      </div>
      <!-- Contendor label e input de usuario -->
      <div class="contenedor-input">
        <!-- Label del input usuario -->
        <label for="usuario">Usuario o Número celular</label>
        <!-- Input usuario -->
        <input appInputFormCustom id="usuario" name="usuario" placeholder="Escribe tu usuario" [(ngModel)]="loginInfo.usuario" />
      </div>
      <!-- Contendor label e input de contraseña -->
      <div class="contenedor-input">
        <!-- Label del input contraseña -->
        <label for="contrasena">Contraseña</label>
        <!-- Input contraseña -->
        <input appInputFormCustom id="contrasena" name="contrasena" placeholder="Escribe tu contraseña" type="password" [(ngModel)]="loginInfo.password" />
      </div>
      <!-- Contendor botones -->
      <div class="contendor-botones">
        <!-- Botón de iniciar sesión -->
        <button appBtnprimary>Iniciar sesión</button>
        <!-- Botón de Registrarme -->
        <button appBtnsecondary colorTextButton="Black" (click)="goToRegister()">Registrarme</button>
      </div>
    </form>
    <!-- Span -->
    <span>¿Problemas para entrar? Recuperar cuenta</span>
  </div>
  <!-- Contendor del pie de página -->
  <app-pie-de-pagina></app-pie-de-pagina>
</main>
