.contenedor-principal {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .contendor-formulario {
    flex: 1;
    overflow: auto;
    display: flex;
    margin-top: 77px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    span {
      font-weight: 600;
    }
    .formulario-inicio-sesion {
      display: flex;
      flex-direction: column;
      gap: 20px;
      h2 {
        color: #00136b;
      }
      span {
        font-weight: 400;
      }
      .contenedor-input {
        display: flex;
        flex-direction: column;
        label {
          font-weight: 600;
        }
        input {
          width: 100% !important;
        }
      }
      button {
        width: 100% !important;
      }
    }
    .contendor-botones {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }
}
