.container-input {
  position: relative;
  width: 145px;
  height: 142px;
  padding: 6px 9px;
  .input-file {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 121px;
    height: 121px;
    border: 1px solid #d6d6d6;
    border-radius: 25.5px;
    background-color: #f1f1f1;
    button {
      position: absolute;
      top: 0;
      right: 6px;
      border: none;
      background-color: #2c416b;
      border-radius: 5px;
      width: 29px;
      height: 29px;
      cursor: pointer;
      img {
        width: 18px;
        height: 18px;
      }
    }
    .icon-input {
      width: 53px;
      height: 53px;
    }
    .image-selected {
      width: 121px;
      height: 122px;
      border-radius: 25.5px;
      object-fit: cover;
    }
  }
}
