<!-- Contendor principal -->
<main class="contenedor-principal">
  <!-- Contendor del encabezado -->
  <app-encabezado></app-encabezado>
  <!-- Contenedor del formulario -->
  <div class="contendor-info">
    <!-- Titulo de ingresar código -->
    <h3>Ingresa el código</h3>
    <!-- parrafo -->
    <p>Para concluir con tu registró confirma el código que te ha llegado al tu correo electrónico</p>
    <input />
    <button appBtnsecondary colorTextButton="Black" (click)="goToRegister()">Cancelar y regresar</button>
  </div>
</main>
