.contenedor-principal {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .contendor-info {
    flex: 1;
    display: flex;
    margin-top: 14px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 153px;
    h3 {
      font-weight: 600;
      color: #2c416b;
      font-size: 24px;
    }
    span {
      font-size: 16px;
      line-height: 24px;
      width: 540px;
      text-align: center;
    }
    input {
      margin-top: 14px;
    }
    button {
      margin-top: 20px;
    }
  }
}
